# OS
.DS_Store
Thumbs.db

# Sass cache
.sass-cache/
*.css.map

# Node (if sass is installed locally)
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Logs
logs
*.log